{% extends 'base.html' %}

{% block head %}
    
    <title>Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
{% endblock %}

{% block body %}

<div class="d-flex justify-content-center">
    <div class="col-md-8">
        <div class="card mt-80">
            <div class="card-body">
                <div class="list-group">
                    <a href="#" class="list-group-item list-group-item-action active">
                        Software Architecture Assignment, Group - 7
                    </a>
                    <a href="#" class="list-group-item list-group-item-action">Aditya Kulkarni</a>
                    <a href="#" class="list-group-item list-group-item-action">Kiran B A</a>
                    <a href="#" class="list-group-item list-group-item-action">Mohsin Ahmad</a>
                    <a href="#" class="list-group-item list-group-item-action">Prajwal Raj B R</a>
                    <a href="#" class="list-group-item list-group-item-action">Uma N M</a>
                </div>
            </div>
        </div>
    </div>
</div>  
{% endblock %}